<main>
    <div class="container py-4">
        <div class="row align-items-md-stretch">
            <div class="col-md-3">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <button class="btn btn-outline-light" [routerLink]="['/task1']">Task1</button>
                    <button class="btn btn-outline-light" [routerLink]="['/task2']">Task2</button>
                    <button class="btn btn-outline-light" [routerLink]="['/task3']">Task3</button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</main>