header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Style the navigation buttons */
  button {
    background-color: #fff;
    color: #007BFF;
    border: none;
    padding: 15px 0; /* Increase the button height for symmetry */
    width: 50%; /* Each button covers 50% of the header */
    cursor: pointer;
  }
  
  button:first-child {
    border-right: 1px solid #007BFF;
  }

  button:hover {
    background-color: #0056b3;
    color: #fff;
  }